body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.login-card {
  background-color: #333;
  color: #fff;
}

.login-card h1 {
  color: #fff;
}

.form-label {
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.input-group-text {
  background-color: #444;
  color: #fff;
  border-color: #444;
}

.input-group-text i {
  font-size: 1.2rem;
}
